<h3>Current Activity</h3>
<table>
    <tr>
        <th>Activity</th><th>Start Date</th>
    </tr>
    <tr>
        <td>Treehouse Android Development Course</td>
        <td>1/16</td>
    </tr>
    <tr>
        <td>PluralSite Hardcore Functional JavaScript</td>
        <td>1/16</td>
    </tr>
    <tr>
        <td>Writing Angular Examples</td>
        <td>10/15</td>
    </tr>
    <tr>
        <td>Writing ES6 Examples</td>
        <td>11/15</td>
    </tr>
    <tr>
        <td>Writing an npm svg menu module</td>
        <td>1/16</td>
    </tr>
    <tr>
        <td>Writing a post about SVG's</td>
        <td>1/16</td>
    </tr>
    <tr>
        <td>Working on this website</td>
        <td>1/16</td>
    </tr>
    <tr>
        <td>Moving This Site to Open Shift</td>
        <td>1/28</td>
    </tr>
    <tr>
        <td>Writing a tutorial on OpenShift Deployment</td>
        <td>1/28</td>
    </tr>
</table>