<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
<script> window.ko || document.write("<script src='js/libs/knockout-3.4.0.js'>\x3C/script>")</script>
<h1>Profile View</h1>
<nav>
    <button id="btnaboutme">AboutMe</button>
    <button id="btncurrent">Current Activities</button>
    <button id="btnexamples">Examples</button>
    <button id="btnrepos">Repositories</button>
    <button id="btnposts">Postings</button>
    <button id="btnprojects">Projects</button>
    <button id="btnexternallinks">Links</button>
    <button id="btncompetencies">Skills</button>
</nav>
<section id="profile-content">

</section>